<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * This file is part of a RockSolid e.U. Module.
 *
 * This RockSolid e.U. Module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This RockSolid e.U. Module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * @category  RockSolid
 * @package   RockSolid_PageCache
 * @author    Jan F. Kousek <jan@rocksolid.at>
 * @copyright 2021 RockSolid e.U. | Jan F. Kousek (http://www.rocksolid.at)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
-->
<config>
    <modules>
        <RockSolid_PaswordHash>
            <version>0.0.1</version>
        </RockSolid_PaswordHash>
    </modules>
    <global>
        <models>
            <admin>
                <rewrite>
                    <user>RockSolid_PasswordHash_Model_Admin_User</user>
                </rewrite>
            </admin>
            <api>
                <rewrite>
                    <user>RockSolid_PasswordHash_Model_Api_User</user>
                </rewrite>
            </api>
            <customer>
                <rewrite>
                    <customer>RockSolid_PasswordHash_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <core>
                <encryption_model>RockSolid_PasswordHash_Model_Core_Encryption</encryption_model>
            </core>
        </helpers>
        <events>
            <api_user_authenticated>
                <observers>
                    <rs_api_password_upgrade>
                        <type>singleton</type>
                        <class>RockSolid_PasswordHash_Model_Observer</class>
                        <method>apiAuthenticated</method>
                    </rs_api_password_upgrade>
                </observers>
            </api_user_authenticated>
            <admin_user_authenticate_after>
                <observers>
                    <admin_user_login>
                        <type>disabled</type>
                    </admin_user_login>
                    <rs_admin_user_login>
                        <type>singleton</type>
                        <class>RockSolid_PasswordHash_Model_Observer</class>
                        <method>apiAuthenticated</method>
                    </rs_admin_user_login>
                </observers>
            </admin_user_authenticate_after>
            <customer_customer_authenticated>
                <observers>
                    <customer_upgrade_password>
                        <type>disabled</type>
                    </customer_upgrade_password>
                    <rs_customer_upgrade_password>
                        <type>singleton</type>
                        <class>RockSolid_PasswordHash_Model_Observer</class>
                        <method>actionUpgradeCustomerPassword</method>
                    </rs_customer_upgrade_password>
                </observers>
            </customer_customer_authenticated>
        </events>
    </global>
</config>